@page
@model RegisterModel
@{
	ViewData["Title"] = "Register";
}
@using CustomizeAuthentication.Helpers
<form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="col-md-5">
	<h4>Create a new account.</h4>
	<hr />
	<div asp-validation-summary="All" class="text-danger"></div>
	<div class="form-group">
		<label asp-for="Input.UserName"></label>
		<input asp-for="Input.UserName" class="form-control" />
		<span asp-validation-for="Input.UserName" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Input.TypeOfUser"></label>
		<br />
		@Html.DropDownListFor(m => m.Input.TypeOfUser,
			new SelectList(Enum.GetValues(typeof(EnumHelpers.TypeOfUser))),
			"Select Type of User")
		<span asp-validation-for="Input.TypeOfUser" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Input.Password"></label>
		<input asp-for="Input.Password" class="form-control" />
		<span asp-validation-for="Input.Password" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Input.ConfirmPassword"></label>
		<input asp-for="Input.ConfirmPassword" class="form-control" />
		<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
	</div>
	<button type="submit" class="btn btn-primary">Register</button>
</form>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
